<#if body ??>
  <span id="flowplayer_${attachment.id}">${body}</span>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#flowplayer_${attachment.id}").fancyplayer({
        id: "flowplayer_${attachment.id}_content",
        width: ${width},
        height: ${height},
        player: "${flowplayer}",
        video: "${attachmentLink}"
      });
    });
  </script>
<#else>
  <a id="flowplayer_${attachment.id}" href="${attachmentLink}" style="display: block; width: ${width}px; height: ${height}px"></a>
  <script type="text/javascript">
    $f("flowplayer_${attachment.id}", "${flowplayer}",{
      clip: {
        autoPlay: ${autoPlay},
        autoBuffering: ${autoBuffering}
      }
    });
  </script>
</#if>