<div id="gallery_${id}">
  <#list images as image>
    <a title="${image.name}" rel="fancybox_${id}" href="${linkBase}/image/${image.id}.${image.extension}">
      <img border="0" alt="${image.name}" src="${linkBase}/image/${image.id}.${image.extension}?type=thumb" />
    </a>
  </#list>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#gallery_${id} a").fancybox({
      type: "image",
      overlayShow: true,
      overlayOpacity: 0.5,
      padding: 0
    });
  });
</script>