<div id="lightbox_${id}">
  ${body}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("div#lightbox_${id} img").each(function(index,item){
      var img = $(item);
      img.attr( "alt", "${title}" );
      var src = img.attr("src").replace("?type=thumb", "");
      img.wrap("<a href=\"" + src + "\" rel=\"fancybox[lightbox_${id}]\" />");
    });
    $("div#lightbox_${id} a").fancybox({
      type: "image",
      overlayShow: true,
      overlayOpacity: 0.5
    });
  });
</script>