<div id="lightbox_${id}">
  ${body}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("div#lightbox_${id} img").each(function(){
      var img = $(this);
      img.attr( "alt", "${title}" );
      var src = img.attr("src").replace(new RegExp("\\?.*$"), "");
      img.wrap("<a href=\"" + src + "\" rel=\"fancybox[lightbox_${id}]\" />");
    });
    $("div#lightbox_${id} a").fancybox({
      type: "image",
      overlayShow: true,
      overlayOpacity: 0.7,
      overlayColor: '#000',
      padding: 0
    });
  });
</script>